
<h2> weather </h2>
<ng-container *ngFor="let city of allCities">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">
          {{city.title}} <img src="https://www.metaweather.com/static/img/weather/png/64/{{city.consolidated_weather[0].weather_state_abbr}}.png">
      </h5>
      <h5 class="card-text">
        <p>Temperature : {{city.consolidated_weather[0].the_temp}}</p>
        <p>Min Temperature : {{city.consolidated_weather[0].min_temp}}</p>
        <p>Max Temperature : {{city.consolidated_weather[0].max_temp}}</p>

      </h5>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</ng-container>
